*{
    margin: 0px;
    padding: 0px;
    
  
    
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F39EB6;
    
}

.box{
    height: 50vh;
    width: 30vw;
    background-color: #F7F6D3;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.show{
    height: 20vh;
    width: 20vw;
    background-color: #B8DB80;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
   /* box-shadow: 3px 3px 10px rgba(0,0,0,0.2); */
    font-size: 5rem;
    color: #F39EB6;
    font-family: 'Arial', sans-serif;
    color:#FEEAC9;
}

#btn1, #btn2{
    height: 3rem;
    width: 3rem;
    background-color: #F39EB6;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    color: #FEEAC9;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1);
    margin-top: 0.50rem;
   
}

.showbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}